.footer__column-link {
  margin: 0;
  padding: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #fff;
  transition: opacity .2s linear;
}

.footer__column-link:hover {
  opacity: .6;
}
