.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  margin: 0;
  padding: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  transition: opacity .2s linear;
}

.feynman__link:hover {
  opacity: .6;
}
