.feynman {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 790px;
  padding: 80px 0 0;
  background-color: #f2f2f2;
  background-image: url(../../images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
}
