.video__iframe {
  width: 515px;
  height: 316px;
  object-fit: contain;
  object-position: center;
  margin: 0;
  border: 0;
  transition: opacity .2s linear;
}

.video__iframe:last-of-type {
  margin: 0;
}

.video__iframe:hover {
  opacity: .6;
}
