.logo {
  width: 183px;
  height: 32px;
  background-image: url(../../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: opacity .2s linear;
}

.logo:hover {
  opacity: .6;
}
