.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  z-index: 2;
  width: 100%;
  max-width: 388px;
  margin: 0;
  padding: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
}
